* {
    margin: auto;
    padding: 0;
    font-family: Helvetica, Calibri, system-ui;
}

body {
    background: #f5f5f5;
}

.wrapper {
    width: 1024px;
    display: flex;
    column-gap: 25px;
    justify-content: baseline;
    position: relative;
    z-index: 0;
    margin-top: 20px;
}

.wrapper > div {
    flex: 1;
    margin-top: 0;
}

.button {
    background: #ffd166;
}

header {
    background: #0077ffaa;
    backdrop-filter: blur(5px);
    height: 70px;
    position: sticky;
    top: 0;
    box-shadow: #87a8cd 0 0 5px 2px;
    z-index: 1;
}

.logo {
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2vw;
}

#profileButton {
    position: absolute;
    right: 2vw;
    top: 0;
    bottom: 0;
    height: 40px;
    margin: auto;
    background: transparent;
    border: none;
    cursor: pointer;
}

#profileButton img {
    height: 100%;
    z-index: 1;
}

#searchContainer {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
}

#searchContainer > input {
    outline: none;
    border: none;
    text-indent: 25px;
    background: #f5f5f5;
    border-radius: 25px;
    padding: 10px;
    width: 300px;
}

#searchContainer > img {
    width: 25px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#feedContainer {
    flex: 2;
}

#createPost {
    background: #ffd166;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: block;
    cursor: pointer;
    box-shadow: #87a8cd 2px 2px 5px 1px;
    position: fixed;
    left: 20px;
    bottom: 50px;
    transition: 0.2s;
    z-index: 5;
}

#createPost > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    transition: 0.2s;
}

#createPost:hover {
    background: #0077ff;
    box-shadow: #87a8cd 0 0 5px 1px;
}

#createPost:hover > img {
    filter: invert(100%);
}
#createNewRecordingContainer {
    width: 300px;
    height: 500px;
    background-color: #4a90e2;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    left: 20px;
    bottom: 120px;
    /* animation-name: grow; */
    /* animation-duration: 0.3s; */
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    z-index: 0;
}

#createNewRecordingContainer.hidden {
    width: 0px;
    height: 0px;
    padding: 0px;
}

#loadMoreAudio {
    position: absolute;
    bottom: 1000px;
    width: 0;
    height: 0;
    z-index: 10;
    transition: 0.5s;
}

#blackBg {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff55;
    position: fixed;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(1px);
    z-index: -1;
    transition: 0.3s ease-in-out;
    pointer-events: all;
}

#blackBg.hidden {
    background-color: #ffffff00;
    backdrop-filter: none;
    z-index: -1;
    pointer-events: none;
}

#record_button_ring {
    border: solid white 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 3;
}

#record_button {
    background-color: red;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 2px;
    transition: 0.1s;
}

#time_stamp {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

#record_button:not(.live):hover {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(255, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 40px 0px rgba(255, 0, 0, 0.3);
    box-shadow: 0px 0px 40px 0px rgba(255, 0, 0, 0.3);
}

#record_button.live {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-top: 12px;
}

#recording_contents {
    height: 100%;
}

#description_box {
    width: 92%;
    height: 30%;
    background-color: rgb(210, 207, 207);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    resize: none;
    overflow: none;
    outline: none;
}

#upload_button {
    width: 50%;
    height: auto;
    margin: auto;
    background-color: #ffd166;
    text-align: center;
    margin-top: 10px;
}
#upload_button:hover {
    transform: scale(1.05);
}

#recording_buttons_container {
    display: flex;
}

#recording_visualizer {
    width: 100%;
    height: 25%;
}

#delete_recording_button {
    width: 40px;
    margin-right: 35px;
}

#delete_recording_button:hover {
    transform: scale(1.1);
}

#play_pause_button {
    width: 60px;
}

#play_pause_button:hover {
    transform: scale(1.1);
}

#recording_title_input {
    margin-left: 0;
    background-color: rgb(210, 207, 207);
    border: none;
    resize: none;
    overflow: none;
    outline: none;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 90%;
    font-size: larger;
}

#profileButtonExpanded {
    width: 200px;
    height: 150px;
    background-color: rgb(213, 211, 211);
    position: absolute;
    top: -0.5vw;
    right: -0.5vw;
    border-radius: 10px;
    z-index: -1;
    transition: 0.5 linear;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
}

#results_container {
    display: none;
}

#results_container.open {
    display: block;
    width: 300px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

#results_container li {
    list-style-type: none;
    padding: 3px;
}

#results_container li:hover {
    background-color: rgb(227, 243, 247);
}
