.page-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  font-weight: bold;
  font-style: italic;
}

.title h1 {
  margin: 0;
}

.title span {
  font-size: 32px;
}


.left-content {
  display: flex;
  align-items: center;
  padding-left: 250px;
}

.right-content {
  display: flex;
  gap: 10px;
  padding-right: 250px;
}

.home-button,
.message-button,
.notification-button,
.profile-button,
.arrow {
  background: transparent;
  border: none;
  padding: 0;
}

p {
  padding-bottom: 5px;
}

.arrow {
  padding-top: 5px;
}
.home-button,
.message-button,
.notification-button {
  padding-right: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-radius: 30px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  padding: 0;
}
