.tabs {
    margin-top: 200px;
    background: #cbe1f7;
    border-radius: 0.5rem;
    grid-template-rows: auto 1fr;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    min-width: 500px;
}

.mainButton {
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    background: #b6c9f0;
    cursor: pointer;
    transition: all 0.1s linear;
    letter-spacing: 0.25rem;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mainButton:nth-child(1) {
    border-top-left-radius: 0.5rem;
}

.mainButton:nth-child(2) {
    border-top-right-radius: 0.5rem;
}

.mainButton:hover:not(.live) {
    background: #6485f2;
    color: white;
}

.tabs-content {
    padding: 2rem 1.5rem;
}

@media (min-width: 992px) {
    .image {
        margin-bottom: 0;
    }

    .section-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

.content {
    display: none;
}

.content.live {
    display: block;
}

.mainButton.live {
    background: #cbe1f7;
}

#error-box-bad {
    margin-top: 10px;
    width: 500px;
    height: fit-content;
    background-color: rgb(247, 228, 228);
    border-radius: 0.5rem;
    border: 1px solid red;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: red;
    display: block;
    animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#error-box-good {
    margin-top: 10px;
    width: 500px;
    height: fit-content;
    background-color: rgb(233, 247, 228);
    border-radius: 0.5rem;
    border: 1px solid rgb(89, 246, 95);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: rgb(42, 211, 79);
    display: block;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
