#post {
    background-color: #ffffff50;
    width: auto;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    margin: 0;
}

h3 {
    color: black;
    font-weight: bolder;
    font-family: Calibri;
}

#viewsLikes {
    align-items: end;
}

audio {
    width: 100%;
    border-radius: 0;
}
